@font-face {
  font-family: "微软雅黑";
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-family: "微软雅黑";
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
body {
  font-size: 18px;
  line-height: 1;
  background: #F7F7F7;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
}
input,
select {
  vertical-align: middle;
}
*{
  color:#ccc;
}
.cou_head {
  width: 100%;
  height: auto;
  background: #fff;
}
.cou_head .head_con {
  width: 1200px;
  height: 80px;
  background: #fff;
  margin: 0 auto;
}
.cou_head .head_con .head_logo {
  width: 158px;
  height: 80px;
  line-height: 80px;
  display: block;
  float: left;
  background: url(../img/logo.png) no-repeat 0 17px;
  text-indent: 49px;
  font-size: 30px;
  font-weight: bold;
  color: #B981D1;
}
.cou_head .head_con .head_cent {
  float: left;
  display: block;
}
.cou_head .head_con .head_cent a {
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  line-height: 80px;
}
.cou_head .head_con .head_cent a.djzt {
  color: #B981D1;
}
.cou_head .head_con .head_cent a:hover {
  color: #B981D1;
}
.cou_head .head_con .head_rt {
  float: right;
  line-height: 80px;
  font-size: 16px;
  color: #999;
  margin-right: 20px;
}
.cou_head .head_con .head_rt a {
  font-size: 16px;
  color: #23252f;
}
.cou_head .head_con .head_rt a.reg {
  font-size: 16px;
  color: #23252f;
  margin-right: 10px;
}
.cou_head .head_con .head_rt a.log {
  font-size: 16px;
  color: #23252f;
  margin-left: 10px;
}
.cou_head .head_con .head_rt a:hover {
  color: #B981D1;
}
.cou_head .head_con .head_rt2 {
  float: right;
  margin-right: 30px;
}
.cou_head .head_con .head_rt2 a {
  width: 100px;
  height: 30px;
  display: block;
  margin-top: 25px;
  background: #b981d1;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
}
.cou_foot {
  width: 100%;
  background: #dcdcdc;
  overflow: hidden;
}
.cou_foot .foot_con {
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
}
.cou_foot .foot_con .foot_top {
  padding: 34px 0;
  overflow: hidden;
}
.cou_foot .foot_con .foot_top li {
  float: left;
}
.cou_foot .foot_con .foot_top li b {
  font-size: 13px;
  color: #333;
  line-height: 46px;
  display: inline-block;
}
.cou_foot .foot_con .foot_top li a,.cou_foot .foot_con .foot_top li p {
  font-size: 12px;
  line-height: 24px;
  color: #444;
  display: block;
}
.cou_foot .foot_con .foot_top .foot_top1 {
  width: 205px;
  padding-right: 140px;
}
.cou_foot .foot_con .foot_top .foot_top3 {
  width: 491px;
}
.cou_foot .foot_con .foot_top .foot_top4 {
  width: 100px;
}
.cou_foot .foot_con .foot_top .foot_top4 img {
  width: 100px;
  height: 100px;
  display: inline;
  margin-top: 16px;
}
.cou_foot .foot_con .foot_top .foot_top4 p {
  line-height: 24px;
  font-size: 14px;
  margin-top: 4px;
  color: #333;
}
.cou_foot .foot_con .foot_top .foot_top5 {
  width: 122px;
  float: right;
}
.cou_foot .foot_con .foot_top .foot_top5 img {
  width: 100px;
  height: 100px;
  display: inline;
  margin: 16px 0 0 10px;
  vertical-align: middle;
}
.cou_foot .foot_con .foot_top .foot_top5 p {
  width: 122px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  margin-top: 4px;
  color: #333;
}
.cou_foot .foot_con .foot_bot {
  margin-bottom: 20px;
  height: 38px;
}
.cou_foot .foot_con .foot_bot b {
  font-size: 14px;
  margin-right: 12px;
  line-height: 38px;
  display: inline-block;
  color: #333;
  float: left;
}
.cou_foot .foot_con .foot_bot a {
  color: #666;
  height: 12px;
  line-height: 12px;
  display: inline-block;
  padding: 0 33px;
  border-right: 1px solid #999;
  font-size: 12px;
  float: left;
  margin-top: 12px;
}
.cou_foot .foot_con .foot_bot :last-child {
  border-right: none;
  padding-right: 0;
}
.cou_bottom {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  background: #c2c2c2;
  text-align: center;
  font-size: 12px;
  color: #7a7a7a;
}
.all_con {
  width: 100%;
  padding-bottom: 80px;
  overflow: hidden;
}
.all_con .all_con_cen {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 21px;
  overflow: hidden;
}
.all_con .all_con_cen ul {
  width: 1186px;
  margin: 0 auto;
  height: 180px;
  background: #fff;
  padding: 0 19px;
  border-radius: 6px;
  margin-top: 40px;
  position: relative;
}
.all_con .all_con_cen ul li {
  height: 59px;
  line-height: 59px;
  border-bottom: 1px dashed #dcdcdc;
}
.all_con .all_con_cen ul li b {
  font-size: 16px;
  color: #23252f;
  font-weight: normal;
}
.all_con .all_con_cen ul li a {
  height: 26px;
  line-height: 26px;
  color: #838486;
  font-size: 14px;
  padding: 0 15px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}
.all_con .all_con_cen ul li .active {
  background: #b981d1;
  color: #fff;
}
.all_con .all_con_cen ul .more {
  position: absolute;
  right: 19px;
  top: 145px;
  color: #b981d1;
  float: right;
  cursor: pointer;
  font-size: 14px;
}
.all_con .all_con_cen ul .more img {
  margin-left: 5px;
  vertical-align: 2px;
}
.all_con .all_con_cen ul :last-child {
  border-bottom: none;
}
.all_con .all_con_cen .all_xm {
  margin-top: 12px;
  width: 1200px;
  height: auto;
}
.all_con .all_con_cen .all_xm .xm_list {
  width: 1186px;
  height: auto;
  padding: 0 7px;
}
.all_con .all_con_cen .all_xm .xm_list .xm_nowing {
  width: 1186px;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .xm_finish {
  width: 1186px;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .xm_soon {
  width: 1186px;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .now_main {
  width: 285px;
  height: 420px;
  margin-top: 19px;
  border: 1px solid #dcdcdc;
  float: left;
  margin-right: 11px;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_pic {
  width: 285px;
  height: 240px;
  display: block;
  position: relative;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_pic img {
  margin-left: -120px;
  height: 240px;
  display: inline;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_pic .now_btn {
  display: block;
  padding: 0 9px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 19px;
  border-radius: 15px;
  border: 1px solid #d2d2d2;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_pic .now_btn b {
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 100%;
  background: #fff;
  margin: 0 5px;
  color: #B981D1;
  display: inline-block;
  text-align: center;
  font-weight: normal;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_pic .pic_pos {
  position: absolute;
  width: 98px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  display: block;
  right: 18px;
  bottom: 21px;
  background: #fff;
  opacity: 0.5;
  border-radius: 14px;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con {
  display: block;
  height: 180px;
  padding: 19px 14px;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_tit {
  display: inline-block;
  width: 254px;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_tit b {
  font-size: 16px;
  color: #333;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_tit e {
  font-size: 14px;
  color: #666;
  float: right;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_des {
  margin-top: 20px;
  font-size: 14px;
  color: #838486;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_tiao {
  width: 254px;
  height: 6px;
  display: block;
  background: #cdcdce;
  border-radius: 2px;
  margin-top: 33px;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_tiao .now_shown {
  max-width: 100%;
  height: 6px;
  display: block;
  position: relative;
  background: -webkit-linear-gradient(left,#ee69ba,#b544ee);
  /*background: -webkit-linear-gradient(left,#ff990c,#f46441);*/
  top: 0;
  left: 0;
  border-radius: 3px;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_tiao .now_shown .now_num {
  position: absolute;
  padding: 0 11px;
  height: 16px;
  display: block;
  border-radius: 8px;
  line-height: 14px;
  font-size: 12px;
  color: #23252f;
  border: 1px solid #B981D1;
  background-color: #fff;
  right: 0;
  top: -6px;
  padding: 0 5px;
  min-width: 50px;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_money {
  margin-top: 31px;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_money :first-child {
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_money :last-child {
  float: right;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_money span {
  display: block;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_money span b {
  font-size: 14px;
  color: #666;
  margin-right: 13px;
  font-weight: normal;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .now_main .now_con .now_money span e {
  font-size: 14px;
  color: #333;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .hover_shadow {
  transition: all .5s;
}
.all_con .all_con_cen .all_xm .xm_list .now_main:hover {
  box-shadow: 0px 0px 10px #9B9B9B;
  transform: translateY(-3px);
  cursor: pointer;
}
.all_con .all_con_cen .all_xm .xm_list .now_main2 {
  margin-right: 0;
}
/*真实的融资完成*/
.all_con .all_con_cen .all_xm .xm_list .finish_main {
  width: 285px;
  height: 420px;
  /*height: 360px;*/
  margin-top: 19px;
  border: 1px solid #dcdcdc;
  float: left;
  margin-right: 11px;
  background: #fff;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_pic {
  width: 283px;
  height: 240px;
  display: block;
  position: relative;
  overflow: hidden;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_pic img {
  margin-left: -120px;
  height: 240px;
  display: inline;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_pic .finish_but {
  width: 100px;
  height: 30px;
  line-height: 28px;
  display: block;
  border-radius: 15px;
  color: #fff;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 15px;
  background: -webkit-linear-gradient(left, #ed68ba, #b744ed);
  background: -moz-linear-gradient(left, #ed68ba, #b744ed);
  opacity: 0.85;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con {
  display: block;
  padding: 19px 14px;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_tit {
  display: inline-block;
  width: 254px;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_tit b {
  font-size: 16px;
  color: #333;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_tit e {
  font-size: 14px;
  color: #666;
  float: right;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_des {
  margin-top: 19px;
  font-size: 14px;
  color: #838486;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .f_tiao {
  width: 254px;
  height: 6px;
  display: block;
  background: #cdcdce;
  border-radius: 2px;
  margin-top: 33px;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .f_shown {
  max-width: 100%;
  height: 6px;
  display: block;
  position: relative;
  background: -webkit-linear-gradient(left,#ff990c,#f46441);
  top: 0;
  left: 0;
  border-radius: 3px;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .f_tiao .f_shown .f_num {
  position: absolute;
  padding: 0 11px;
  height: 16px;
  display: block;
  border-radius: 8px;
  line-height: 14px;
  font-size: 12px;
  color: #23252f;
  border: 1px solid #B981D1;
  background-color: #fff;
  right: 0;
  top: -6px;
  padding: 0 5px;
  min-width: 50px;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_money {
  margin-top: 31px;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_money :first-child {
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_money :last-child {
  float: right;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_money span {
  display: block;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_money span b {
  font-size: 14px;
  color: #666;
  margin-right: 13px;
  font-weight: normal;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main .finish_con .finish_money span e {
  font-size: 14px;
  color: #333;
  float: left;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main2 {
  margin-right: 0;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main:hover {
  box-shadow: 0px 0px 20px #9B9B9B;
  transform: translateY(-3px);
  cursor: pointer;
}
.all_con .all_con_cen .all_xm .xm_list .finish_main2 {
  margin-right: 0;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main {
  float: left;
  margin-top: 19px;
  margin-right: 11px;
  width: 285px;
  height: 285px;
  position: relative;
  background: #e5e5e5;
  overflow: hidden;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main img {
  display: inline;
  margin-left: -124px;
  height: 285px;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main .soon_pos {
  width: 285px;
  height: 285px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/fut1.png) no-repeat;
  opacity: 0.8;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main .soon_mkf {
  width: 285px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 65px;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main .soon_xt {
  width: 285px;
  font-size: 13px;
  color: #c2c2c2;
  text-align: center;
  position: absolute;
  bottom: 31px;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main .soon_label {
  width: 26px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main .soon_label b {
  width: 26px;
  height: 26px;
  line-height: 26px;
  background: #fff;
  font-size: 15px;
  color: #b981d1;
  float: left;
  border-radius: 50%;
  text-align: center;
  font-weight: normal;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main .soon_hid {
  width: 285px;
  height: 285px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  display: none;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main .soon_qd {
  position: absolute;
  width: 285px;
  bottom: -30px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main2 {
  margin-right: 0;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main:hover .soon_hid {
  display: block;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main:hover .soon_qd {
  bottom: 30px;
  -webkit-transition: bottom 1s;
  -moz-transition: bottom 1s;
  -ms-transition: bottom 1s;
  -o-transition: bottom 1s;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main:hover .soon_mkf {
  bottom: 150px;
  -webkit-transition: bottom 1s;
  -moz-transition: bottom 1s;
  -ms-transition: bottom 1s;
  -o-transition: bottom 1s;
}
.all_con .all_con_cen .all_xm .xm_list .soon_main:hover .soon_xt {
  bottom: 112px;
  -webkit-transition: bottom 1s;
  -moz-transition: bottom 1s;
  -ms-transition: bottom 1s;
  -o-transition: bottom 1s;
}
.all_con .all_con_cen .all_xm .all_see_more {
  margin: 59px 475px;
  width: 250px;
  height: 50px;
  line-height: 48px;
  font-size: 18px;
  color: #838486;
  display: inline-block;
  border-radius: 25px;
  border: 1px solid #c9c9c9;
  text-align: center;
}
.aside_nav {
  width: 40px;
  height: 200px;
  position: fixed;
  bottom: 120px;
  right: 80px;
}
.aside_nav a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #dcdcdc;
  position: relative;
  box-sizing: border-box;
}
.aside_nav a span {
  width: 24px;
  height: 24px;
  margin: 7px 0 0 7px;
  display: block;
}
.aside_nav a span.ios_down {
  background: url(../img/ios_h.png) no-repeat;
}
.aside_nav a span.gzh {
  background: url(../img/gzh_h.png) no-repeat;
}
.aside_nav a span.ques {
  background: url(../img/ques.png) no-repeat;
}
.aside_nav a:hover {
  background: #B981D1;
  border: 1px solid #B981D1;
}
.aside_nav a div {
  position: absolute;
  width: 120px;
  height: 150px;
  border: 1px solid #DCDCDC;
  top: -10px;
  right: 50px;
  display: none;
  background: #fff;
}
.aside_nav .ios {
  display: block;
  position: relative;
}
.aside_nav .ios .ios_ewm {
  position: absolute;
  width: 120px;
  height: 150px;
  border: 1px solid #DCDCDC;
  top: -10px;
  right: 50px;
  display: none;
  background: #fff;
}
.aside_nav .ios .ios_ewm img {
  width: 100px;
  height: 100px;
  margin: 9px 0 0 9px;
}
.aside_nav .ios .ios_ewm p {
  line-height: 34px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.aside_nav .ios:hover span {
  background: url(../img/ios_b.png) no-repeat;
}
.aside_nav .ios:hover .ios_ewm {
  display: block;
}
.aside_nav .fwh {
  display: block;
  position: relative;
}
.aside_nav .fwh .gzh_ewm {
  position: absolute;
  width: 120px;
  height: 150px;
  border: 1px solid #DCDCDC;
  top: -10px;
  right: 50px;
  display: none;
  background: #fff;
}
.aside_nav .fwh .gzh_ewm img {
  width: 100px;
  height: 100px;
  margin: 9px 0 0 9px;
}
.aside_nav .fwh .gzh_ewm p {
  line-height: 34px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.aside_nav .fwh:hover span {
  background: url(../img/gzh_b.png) no-repeat;
}
.aside_nav .fwh:hover .gzh_ewm {
  display: block;
}
.aside_nav .kf:hover span {
  background: url(../img/ques_b.png) no-repeat;
}
.aside_nav .g_top .to_top {
  width: 22px;
  height: 14px;
  margin: 12px 0 0 8px;
  background: url(../img/top.png) no-repeat;
}
.aside_nav .g_top:hover {
  background: #B981D1;
  border: 1px solid #B981D1;
}
.aside_nav .g_top:hover span {
  background: url(../img/top_b.png) no-repeat;
}
/*# sourceMappingURL=all_xm .xm_list.css.map */
