@font-face {
    font-family: "微软雅黑";
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
body {
    font-size: 18px;
    line-height: 1;
    background: #F7F7F7;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
}
input,
select {
    vertical-align: middle;
}
/*头部*/
.cou_head {
  width: 100%;
  height: auto;
  background: #fff;
}
.cou_head .head_con {
  width: 1200px;
  height: 80px;
  background: #fff;
  margin: 0 auto;
}
.cou_head .head_con .head_logo {
  width: 158px;
  height: 80px;
  line-height: 80px;
  display: block;
  float: left;
  background: url(../img/logo.png) no-repeat 0 17px;
  text-indent: 49px;
  font-size: 30px;
  font-weight: bold;
  color: #B981D1;
}
.cou_head .head_con .head_cent {
  float: left;
  display: block;
}
.cou_head .head_con .head_cent a {
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  line-height: 80px;
}
.cou_head .head_con .head_cent a.djzt {
  color: #B981D1;
}
.cou_head .head_con .head_cent a:hover {
  color: #B981D1;
}
.cou_head .head_con .head_rt {
  float: right;
  line-height: 80px;
  font-size: 16px;
  color: #999;
  margin-right: 20px;
}
.cou_head .head_con .head_rt a {
  font-size: 16px;
  color: #23252f;
}
.cou_head .head_con .head_rt a.reg {
  font-size: 16px;
  color: #23252f;
  margin-right: 10px;
}
.cou_head .head_con .head_rt a.log {
  font-size: 16px;
  color: #23252f;
  margin-left: 10px;
}
.cou_head .head_con .head_rt a:hover {
  color: #B981D1;
}
.cou_head .head_con .head_rt2 {
  float: right;
  margin-right: 30px;
}
.cou_head .head_con .head_rt2 a {
  width: 100px;
  height: 30px;
  display: block;
  margin-top: 25px;
  background: #b981d1;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
}

/* /头部*/
/*内容*/
/*左边导航*/
.centent{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}
.centent_left{
    width: 240px;
    height: 280px;
    background: #ffffff;
    float: left;
    border: 1px solid #e5e5e5;
    border-top:none ;
}
.content-rigth{
    width: 940px;
    background: #ffffff;
    float: left;
    margin:0 0 80px 20px;
    padding-bottom: 40px;
}

.centent_left > ul >li{
    border-top:1px solid #e5e5e5;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    color: #333333;
    text-align: center;
    position: relative;
}
.centent_left > ul > li >a{
    color: #333333;
    font-size: 16px;

}
.centent_left > ul > li:hover a{
    color: #B981D1;
}
.centent_left > ul > li:hover .left_Img{
    display: block;
}
.left_Img{
    position: absolute;
    left: 175px;
    top: 30px;
    display: none;
}
.centent_left > ul > li > .bort{
    color: #B981D1;

}

/* /左边导航*/

/*右边主题内容——常见问题*/

.problem .problem_often{
    font-size: 18px;
    color: #333333;
    margin: 40px 0 0 40px;
}
.problem_title{
    font-size: 16px;
    margin: 29px 0 0 40px;
    color: #23252f;
}
.problem_answer{
    font-size: 14px;
    color: #666666;
    margin: 19px 40px 0 52px;
    line-height: 20px;
}



/*!*尾部*!*/
.cou_foot {
  width: 100%;
  background: #dcdcdc;
  overflow: hidden;
}
.cou_foot .foot_con {
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
}
.cou_foot .foot_con .foot_top {
  padding: 34px 0;
  overflow: hidden;
}
.cou_foot .foot_con .foot_top li {
  float: left;
}
.cou_foot .foot_con .foot_top li b {
  font-size: 13px;
  color: #333;
  line-height: 46px;
  display: inline-block;
}
.cou_foot .foot_con .foot_top li a,.cou_foot .foot_con .foot_top li p {
  font-size: 12px;
  line-height: 24px;
  color: #444;
  display: block;
}
.cou_foot .foot_con .foot_top .foot_top1 {
  width: 205px;
  padding-right: 140px;
}
.cou_foot .foot_con .foot_top .foot_top3 {
  width: 491px;
}
.cou_foot .foot_con .foot_top .foot_top4 {
  width: 100px;
}
.cou_foot .foot_con .foot_top .foot_top4 img {
  width: 100px;
  height: 100px;
  display: inline;
  margin-top: 16px;
}
.cou_foot .foot_con .foot_top .foot_top4 p {
  line-height: 24px;
  font-size: 14px;
  margin-top: 4px;
  color: #333;
}
.cou_foot .foot_con .foot_top .foot_top5 {
  width: 122px;
  float: right;
}
.cou_foot .foot_con .foot_top .foot_top5 img {
  width: 100px;
  height: 100px;
  display: inline;
  margin-top: 16px;
  vertical-align: middle;
}
.cou_foot .foot_con .foot_top .foot_top5 p {
  width: 122px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  margin-top: 4px;
  color: #333;
}
.cou_foot .foot_con .foot_bot {
  margin-bottom: 20px;
  height: 38px;
}
.cou_foot .foot_con .foot_bot b {
  font-size: 14px;
  margin-right: 12px;
  line-height: 38px;
  display: inline-block;
  color: #333;
  float: left;
}
.cou_foot .foot_con .foot_bot a {
  color: #666;
  height: 12px;
  line-height: 12px;
  display: inline-block;
  padding: 0 33px;
  border-right: 1px solid #999;
  font-size: 12px;
  float: left;
  margin-top: 12px;
}
.cou_foot .foot_con .foot_bot :last-child {
  border-right: none;
  padding-right: 0;
}
.cou_bottom {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  background: #c2c2c2;
  text-align: center;
  font-size: 12px;
  color: #7a7a7a;
}
/*右侧悬浮*/
.aside_nav {
  width: 40px;
  height: 200px;
  position: fixed;
  bottom: 120px;
  right: 80px;
}
.aside_nav a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #dcdcdc;
  position: relative;
  box-sizing: border-box;
}
.aside_nav a span {
  width: 24px;
  height: 24px;
  margin: 7px 0 0 7px;
  display: block;
}
.aside_nav a span.ios_down {
  background: url(../img/ios_h.png) no-repeat;
}
.aside_nav a span.gzh {
  background: url(../img/gzh_h.png) no-repeat;
}
.aside_nav a span.ques {
  background: url(../img/ques.png) no-repeat;
}
.aside_nav a:hover {
  background: #B981D1;
  border: 1px solid #B981D1;
}
.aside_nav a div {
  position: absolute;
  width: 120px;
  height: 150px;
  border: 1px solid #DCDCDC;
  top: -10px;
  right: 50px;
  display: none;
  background: #fff;
}
.aside_nav .ios {
  display: block;
  position: relative;
}
.aside_nav .ios .ios_ewm {
  position: absolute;
  width: 120px;
  height: 150px;
  border: 1px solid #DCDCDC;
  top: -10px;
  right: 50px;
  display: none;
  background: #fff;
}
.aside_nav .ios .ios_ewm img {
  width: 100px;
  height: 100px;
  margin: 9px 0 0 9px;
}
.aside_nav .ios .ios_ewm p {
  line-height: 34px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.aside_nav .ios:hover span {
  background: url(../img/ios_b.png) no-repeat;
}
.aside_nav .ios:hover .ios_ewm {
  display: block;
}
.aside_nav .fwh {
  display: block;
  position: relative;
}
.aside_nav .fwh .gzh_ewm {
  position: absolute;
  width: 120px;
  height: 150px;
  border: 1px solid #DCDCDC;
  top: -10px;
  right: 50px;
  display: none;
  background: #fff;
}
.aside_nav .fwh .gzh_ewm img {
  width: 100px;
  height: 100px;
  margin: 9px 0 0 9px;
}
.aside_nav .fwh .gzh_ewm p {
  line-height: 34px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.aside_nav .fwh:hover span {
  background: url(../img/gzh_b.png) no-repeat;
}
.aside_nav .fwh:hover .gzh_ewm {
  display: block;
}
.aside_nav .kf:hover span {
  background: url(../img/ques_b.png) no-repeat;
}
.aside_nav .g_top .to_top {
  width: 22px;
  height: 14px;
  margin: 12px 0 0 8px;
  background: url(../img/top.png) no-repeat;
}
.aside_nav .g_top:hover {
  background: #B981D1;
  border: 1px solid #B981D1;
}
.aside_nav .g_top:hover span {
  background: url(../img/top_b.png) no-repeat;
}