*{
    box-sizing: border-box;
}
.pass{
    font-size: larger;
}
.background{
    position: relative;
}
.btn{
    width: 100%;
    position: absolute;
    top: 80%;
}
.btn button{
    width: 80%;
    margin-left: 10%;
    height: 40px;
    border-radius: 40px;
    border-color: #b981d1;
    outline-offset: 0;
    background-color:#ffffff;
    color: #000;
}
#btn1{
    margin-bottom: 20px;
    outline: none;
}
@media screen and (max-width:1800px){
    .container { width:100%; }
    .img-responsive {
        display: block;
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width:991px){
    .container { width:100%;}
    .img-responsive {
        display: block;
        height: auto;
        max-width: 100%;
    }
}

@media screen and (max-width:767px){
    .container { width: 100%; margin: 0; padding: 0;}
    .img-responsive {
        display: block;
        height: auto;
        max-width: 100%;
    }
}